version: '3'

services:
  db:
    container_name: mariadb
    image: mariadb:10.1.35
    environment:
     - MYSQL_ROOT_PASSWORD=toor
     - MYSQL_DATABASE=ddjj
    # volumes:
    #   - mysql:/var/lib/mysql
  django:
    container_name: django
    build:
      context: .
      dockerfile: ddjj_admin
    ports:
      - "8000:8000"
    links:
      - db
    depends_on:
      - db
  rails:
    container_name: rails
    build:
      context: .
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    ports:
      - "5000:3000"
    links:
      - db
    depends_on:
      - db
